body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:  100vh;
	background: #030710;
}
.btn-flip-down{
	--btn-height: 40px;
	height: var(--btn-height);
	width: 120px;
	color: transparent;
	background: transparent;
	border: none;
	perspective: 500px;
	transition: 0.3s;
	cursor: pointer;
}
.btn-flip-down:hover{
	color: transparent;
	background: transparent;
}
.btn-flip-down .front, .btn-flip-down .back{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 2px 8px;
}

.btn-flip-down .front{
	background: #e85313;
	color: #fff;
	transition: 0.3s;
	transform-origin: center center
	calc(var(--btn-height) / -2);
}
.btn-flip-down .back{
background: #e85313;
	color: #fff;
transform: rotateX(88deg);
	transform-origin: center center
	calc(var(--btn-height) / -2);
	transition: 0.3s;
}

.btn-flip-down:hover .front{
	transform: rotateX(-90deg);
}
.btn-flip-down:hover .back{
	transform: rotateX(0deg);
}
